@tailwind base;
@tailwind components;
@tailwind utilities;





@layer base {
  html {
    font-family: var(--font-sans) !important;
  }

  .dark {
    --shiki-color-text: #c6ced6 !important;
    --shiki-token-constant: #79b8ff;
    --shiki-token-string: #ffab70;
    --shiki-token-comment: #767C9DB0 !important;
    --shiki-token-keyword: #f97583;
    --shiki-token-parameter: #ff9800;
    --shiki-token-function: #79b8ff !important;
    --shiki-token-string-expression: #5DE4C7DD !important;
    --shiki-token-punctuation: #bbbbbb;
    --shiki-token-link: #ffab70;
  }

  .dark body {
    background: #000 !important;
  }
  .dark .nextra-nav-container .nextra-nav-container-blur {
    box-shadow: none !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
  }

  .dark .dark\:nx-bg-dark  {
    background-color: #000 !important;
    box-shadow: none !important;
  }

  .dark footer {
    background-color: #000 !important;
  }
  .dark .dark\:nx-text-slate-100 {
    color: rgba(241,245,249, 1) !important;
  }

  .dark .nextra-content {
    color: rgba(241,245,249, 0.85) !important;
  }

  pre {
    border : 1px solid rgb(136 144 150 / 0.2) !important;
    background-color: transparent !important;
  }
}

.dragging-ew {
  user-select: none !important;
  cursor: ew-resize !important;
}

.dragging-ew * {
  user-select: none !important;
  cursor: ew-resize !important;
}


